body {
 background-image: url("bo.jpg");
 font-style: large;
}
aside
{
    float: right;
    width: 400px;
   
}
p{
font-size: large;
}
.inscription{
    margin:  -200px;
	margin-right: 19px;	
	border: collapse;
	
}



